* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background-color: #3e3e42;
    justify-content: space-between;
  }

#logo_menu {
    width: 80px;
    cursor: pointer;
}

.menu_lateral {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn_menuLateral {
    cursor: pointer;
}

#btn_fecharMenuLateral {
    cursor: pointer;
}

.btn_menuItem {
    cursor: pointer;
    background-color: #3e3e42;
    width: 80px;
}

.ocultar {
    display: none;
}

.menu_perfilDados {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menu_perfilLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_perfilDadosHeader {
    color: #fff;
}

.menuItens {
    text-align: center;
    background-color: #3e3e42;
    width: 80px;
}

#menuItens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}
