* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background-color: #3e3e42;
    justify-content: space-between;
  }

#logo_menu {
    width: 80px;
}

.menu_lateral {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ocultar {
    display: none;
}

.menu_perfilDados {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_perfilLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
}