* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background-color: #3e3e42;
    justify-content: space-between;
}

#logo_menu {
    width: 100px;
    height: 100%;
    cursor: pointer;
}

.menu_lateral {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn_menuLateral {
    cursor: pointer;
}

#btn_fecharMenuLateral {
    cursor: pointer;
}

.btn_menuItem {
    text-align: center;
    cursor: pointer;
    background-color: #3e3e42;
    font-size: 100%;
    margin-right: 10px;
}

.ocultar {
    display: none;
}

.menu_perfilLogin {
    display: flex;
    align-items: center;
}

.menu_perfilDados {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #fff;
}

.menu_perfilDadosHeader {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.icon_profile {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.menu_login {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.menuItens {
    text-align: center;
    background-color: #3e3e42;
    width: 100px;
    height: 100vh;
}

#menuItens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}

.icon_estoque {
    width: 45px;
}

.tela_central {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #004AAD;
    color: #fff;
}

.label_estoque {
    max-width: 100px;
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.dados_gerenciamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .div_dadosGerenciamento {
    display: flex;
    flex-direction: column; /* Altera o fluxo para coluna */
    color: #fff;
    margin-left: 10px;
  }
  
  .div_dadosEmpresa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
.div_busca {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}
  
.dados_busca {
    padding: 5px;
}

.nome_empresa {
    font-size: 25px;
}

#estoque_num {
    font-size: 20px;
}

.form_adicionarProduto {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.div_central {
    display: flex;
}

input {
    padding: 5px;
}